[2016-07-12 07:16] kvetinac97 opened #1 "Lack of SynapseTransfer/NemisysTransfer plugin for Nukkit"
I have set up server in Nemysis, 3 clients on Nukkit using SynapseAPI, but Idk how transfer between clients without any transfer plugin.

[2016-07-12 12:27] PeratX commented on #1
Nemisys is not functional yet. You need to write plugin to transfer. (the basic method are used in SynapseTransfer)

[2016-07-12 20:53] FilleDev commented on #1
Can you make SynapseTransfer for Nukkit? ;)

[2016-07-13 08:40] PeratX commented on #1
After Nemisys is functional, I will.

[2016-07-13 08:40] #1 closed

[2016-07-18 22:31] Pogogo007 opened #2 "How to compile to jar ?"

[2016-07-19 19:51] Creeperface01 commented on #2
IntelliJ for example

[2016-07-19 19:51] Creeperface01 commented on #2
Or CircleCI

[2016-07-20 05:09] MrGenga opened #3 "The latest Genisys cant login to the latest Nemisys"
#### Issue description

Genisys can connect to Nemisys, but doesn't login! But with Synapse it works well.

#### OS and versions

* Nemisys: 3dc6c89
* Java: 8
* Genisys: ab35ad3
* PHP: 7.2
* Server OS: Windows Server 2012 R2 with April 2014 Update, Genisys on Ubuntu 16.04

#### Crashdump, backtrace, memory dumps, plugins list or other files

[code]

[2016-07-20 05:31] ZedCee commented on #3
Please properly fill out the provided template as we cannot provide adequate support without it.  I will reopen the issue once this is completed.  I have kindly re-included the template back into your issue ticket.

Also note that we do not have a version of Genisys-latest, they come with commit numbers (versions) for a reason, please provide that.  Again, once the issue is adequately filled in, I

[2016-07-20 06:31] PeratX commented on #3
Of course you can't. Nemisys is using SPP v4 or v5 and Synapse is using SPP v3.

[2016-07-20 06:32] PeratX commented on #3
I will update Genisys & Synapse after the new SPP is stable.

[2016-07-20 06:33] Matthww commented on #2
If you are on linux

Install Maven

Debian/Ubuntu:

[code]

Centos:

[code]
1. download the zip file or git clone it
2. cd into the directory
3. type:

[code]
1. If it says "BUILD SUCCES" type this:

[code]

If thats done you will see a new directory called target with the nemisys-1.0dev.jar

[2016-07-20 06:34] #2 closed

[2016-07-20 07:33] Encritary commented on #3
Can you make beta build? Like in new branch

[2016-07-20 15:41] flaxues opened #4 "Spammy status"
I have a server which doesn't support the status update and my console is not readable anymore...

So I would like to ask if there is a way to disable this or fix this...

Console look:
[code]

[2016-07-20 17:52] dries-c commented on #2
i am using osx how i can compile?

[2016-07-20 17:52] Matthww commented on #2
same thing I think

[2016-07-20 17:53] dries-c commented on #2
can you post it for me?
the .jar file

[2016-07-20 18:16] xZeroMCPE commented on #4
@flaxues Change the  character encoding?

[2016-07-20 18:18] AndreTheGamer commented on #3
Why not use Synapse? it works well. I don't think rewriting it in java will increase performance alot.

[2016-07-20 19:01] Matthww commented on #4
@AndreTheGamer
Those '?' are just on github

It's just that this is spamming my console which is quite annoying

[2016-07-20 19:01] Matthww commented on #2
sure
https://transfer.sh/sIdKn/nemisys-1.0dev.jar

[2016-07-25 13:20] File14 opened #5 "Can't SendMessage On PlayerLoginEvent"
Hello!

I can't send a player a message on PlayerLoginEvent. Why?
"The method sendMessage(String) is undefined for the type Player"

[2016-07-27 05:15] Driesboy opened #6 "Unsupported major.minor version 52.0"
Exception in thread "main" java.lang.UnsupportedClassVersionError: org/itxtech/nemisys/Nemisys : Unsupported major.minor version 52.0
	at java.lang.ClassLoader.defineClass1(Native Method)
	at java.lang.ClassLoader.defineClass(ClassLoader.java:800)
	at java.security.SecureClassLoader.defineClass(SecureClassLoader.java:142)
	at java.net.URLClassLoader.defineClass(URLClassLoader.java:449)
	at java.ne

[2016-07-27 05:22] dries-c commented on #6
fixed!
but make a wiki to instal this
i can make it for max osx if you want

[2016-07-27 05:22] #6 closed

[2016-07-29 06:04] dries-c commented on #2
it work

[2016-07-30 05:48] ItzWalla opened #7 "Cant login and plugins wont load in."
07:17:27 [INFO] Loading server properties...
07:17:27 [INFO] Selected English (eng) as the base language
07:17:27 [INFO] Starting Minecraft: PE server version v0.15.0 alpha
07:17:27 [INFO] Opening server on 0.0.0.0:19132
07:17:27 [INFO] This server is running Nemisys version 1.0dev "Aegis" (API 1.0.0)
07:17:27 [INFO] Nemisys is distributed under the LGPL License
07:17:27 [INFO] Synapse Server is r

[2016-07-30 05:56] #7 closed

[2016-07-30 05:58] ItzWalla opened #8 "Plugins wont load"
07:17:27 [INFO] Loading server properties...
07:17:27 [INFO] Selected English (eng) as the base language
07:17:27 [INFO] Starting Minecraft: PE server version v0.15.0 alpha
07:17:27 [INFO] Opening server on 0.0.0.0:19132
07:17:27 [INFO] This server is running Nemisys version 1.0dev "Aegis" (API 1.0.0)
07:17:27 [INFO] Nemisys is distributed under the LGPL License
07:17:27 [INFO] Synapse Server is r

[2016-08-04 15:36] marcosvkp commented on #8
Is Nemisys, not Nukkit

[2016-08-05 13:52] File14 opened #11 "Names with Space Nukkit"
Hello!

Since Nukkit added support for space names I can't login on the Nukkit servers anymore.
@PeratX @boybook
https://github.com/Nukkit/Nukkit/commit/10f891b3dff2a439b7674ca5595af3c7b45b59d4

[2016-08-05 13:55] dktapps commented on #11
@File14 you don't need to tag them in every single post you make. They'll be notified anyway because they are watching the repository. All you're doing is spamming them.

[2016-08-05 13:56] FilleDev commented on #11
Oh, I didn't know that.

[2016-08-05 13:56] #5 closed

[2016-08-08 17:32] dries-c commented on #4
my server is doing peeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeep

[2016-08-09 17:26] evolvedtm opened #12 "Skin Glitch"
Some players appear to have the same skin as the client.

OS: Ubuntu 64bit

[2016-08-09 17:26] dktapps commented on #12
This is a client bug. It's been around for a veeeeeeery long time.

[2016-08-09 17:26] #12 closed

[2016-08-09 17:26] FilleDev commented on #12
Same issuse! Please fix.

[2016-08-09 17:27] FilleDev commented on #12
@dktapps No it's not a client bug. If I join the first client which is the main server there are no skin issuses but once I transfer to another server everyone has my skin!

[2016-08-09 17:31] evolvedtm commented on #12
It has been fixed for a while, but now it has reappeared ever since I started using Nemisys

[2016-08-09 17:31] FilleDev commented on #12
I think it's SynapseAPI.

[2016-08-09 17:33] evolvedtm opened #13 "Client freezes when opening pause menu"
When a client opens the ingame pause menu, it freezes their app and they have to force-close it

OS: Ubuntu 64bit

[2016-08-09 18:01] evolvedtm commented on #13
It happens on a server you're transferred to not the main one

[2016-08-09 20:25] SleepSpace9 commented on #13
Confirmed, same issue. I'm still waiting for progress in this project. :pensive:

Server: Genisys (build/commit unknown, tested last week) / PHP 7.0.3 / Ubuntu 14.0.4
Client: Amazon Fire (Android derivative) and Windows 10 Edition - both v0.15.4

[2016-08-09 20:57] SleepSpace9 commented on #12
Maybe the new PlayerListPacket (SPPv6) isn't fully implemented in the Synapse Clients (e.g. Genisys) and causes the skin glitch.

[2016-08-10 05:44] dries-c commented on #4
this is a fix for it
https://github.com/Driesboy/Nemisys

[2016-08-10 11:16] marker98 opened #14 "nemisys.jar"
may you just give me compiled file, please?

[2016-08-10 14:05] rusinc opened #15 "How to start nemisys.jar?"
I have nemisys.jar, but i can't start it.
I write: "java -jar nemisys.jar" and recive error: "Error: Invalid or corrupt jarfile nemisys.jar"
Please add instructions to create start-file and run it to wiki.

[2016-08-10 18:33] Matthww commented on #15
Read the error...

[2016-08-10 18:37] rusinc commented on #15
How to create correct nemisys.yml?

[2016-08-11 07:07] #14 closed

[2016-08-11 07:07] #15 closed

[2016-08-11 08:30] Guillaume351 commented on #13
Same issue.
Server : Nukkit with latest SynapseAPI.
Client : Win 10 / iOS

[2016-08-11 14:18] jarne commented on #13
Same here,
Nemisys and Genisys latest build on Debian 8.5 x64, PHP 7.0.9.
Clients are iPad and iPhone with iOS 10, and Galaxy Tab A with Android 6.1.

[2016-08-12 08:51] markeev commented on #13
Same issue.
Server : Nemisys + Genisys.
Client : ios / android

[2016-08-12 12:19] jarne commented on #13
Someone from @iTXTech @PeratX @boybook can help? Seems to be a serious issue because the client always freezes. Looks like it would only happen if more players are online, so it's not always reproducible. The bug is there since 00da207.

[2016-08-12 22:43] xHFx opened #17 "How do I Install"
How do I compile and install

[2016-08-12 22:45] xHFx commented on #17
How do I connect servers I mean

[2016-08-13 01:26] #17 closed

[2016-08-13 15:42] intagaming commented on #13
Something happened when Nemisys starts to transfer. If you leave "disable-raklib" to false and connect not by Nemisys but the Raklib itself to the main server, everything's fine.
However if you connect to the main server by Nemisys, the packets just doesn't right. They are not sending packet anymore. I've try to hide their name by "DataPacketSendEvent" but it doesn't pop up or just doesn't actuall

[2016-08-15 01:46] dbaonam99 commented on #13
Chim to mới fix được

[2016-08-16 08:06] jjplaying opened #18 "Too many packets (DoS attack)"
Hi,

Today, I've got an email from my provider's abuse. They noticed an outgoing 'DoS attack' from my server:

Aug 15 02:05:22 vh256-1041 kernel: [9989677.742671] MAXIMUM OF 10000 PAKETS/s: IN=venet0 OUT=eth0 SRC=178.254.40.*** DST=73.241.91.*** LEN=71 TOS=0x00 PREC=0x00 TTL=64 ID=0 DF PROTO=UDP SPT=19132 DPT=19132 LEN=51 MARK=0x9551 .

As you can see on the port, it looks like it's an issue with

[2016-08-16 09:10] dktapps commented on #18
Win10 Edition Beta has been discovered to have DDoS issues. This may be the cause.

[2016-08-16 09:42] markeev commented on #18
iptables -I INPUT -p udp --dport 19132 -m state --state NEW -m recent --set --name DOS
iptables -I INPUT -p udp --dport 19132 -m state --state NEW -m recent --update --seconds 60 --hitcount 20 --name DOS -j REJECT --reject-with icmp-port-unreachable
&u need some normal vds hosting

[2016-08-16 16:33] jarne commented on #18
Thanks for your answers. I'm not sure if you understood me correctly, but your answers sounds like a client has attacked the server. But it was outgoing traffic, so Nemisys 'attacked' a client.

[2016-08-17 13:43] zFellowZ opened #19 "Invalid login"
I setup nemisys, copied the password and paste it into Genisys.yml then turned on syapse to on. But genisys is saying that the password is wrong.. but i actually paste it in.... This is a bug..

Can anyone help?

[2016-08-17 13:44] xZeroMCPE commented on #19
Hmn, anybody else is having this issue? it seems to be happening with Nemisys only. I've tested it myself. But works fine with Nemisys!

[2016-08-17 14:02] StaticGamerYT opened #20 "Plugins not working on transfer."
Hi,

when I transfer to a server players don't move and plugins don't work and I get kicked after several seconds. Both lobby and other server run on different IPs and on port 19132. This only happens when there are multiple players online, it doesn't occur when there are only 1 or 2 players.

Problem occurs on MCPE Windows 10 Edition and on Android 6.1 (Oneplus 2)

[2016-08-17 14:17] xZeroMCPE commented on #20
I recommend using Synapse it has less bugs. Even though it's outdated it can always be updated with ease. Which would only take a few min(S).

[2016-08-17 15:00] zFellowZ commented on #20
@StaticGamerYT I think it may be your hardware 😂

[2016-08-17 15:01] zFellowZ commented on #19
anyone can help ?

[2016-08-17 15:09] zFellowZ commented on #19
I added my own password in the thingy and added it in genisys but no work!! please halp

[2016-08-17 15:10] StaticGamerYT commented on #20
@zFellowZ It can't be my hardware, it's running on a 32GB RAM dedi...

[2016-08-17 15:13] zFellowZ commented on #20
@StaticGamerYT Ram doesn't mean a thing... It depends on the CP, cores... ect having that much of ram  doesn't mean a thing.. mate

[2016-08-17 15:32] #19 closed

[2016-08-17 15:34] StaticGamerYT commented on #20
@zFellowZ it has a xeon with 8 cores... i don't buy cheap stuff

I don't get any errors, it just says that the player got disconnected because of timeout after a short time even though it doesn't disconnect me

[2016-08-17 15:46] intagaming commented on #20
#13 related.

[2016-08-17 20:16] XFuryMCPE commented on #20
@xZeroMCPE We are talking about official builds and things to be updated in the main branch, this is about Nemisys, NOT Synapse, even the developers recommend Nemisys over Synapse. Stop giving out bad information.

[2016-08-18 17:44] #3 closed

[2016-08-19 15:45] MattWAnderson commented on #13
Same issue, latest Nemisys on CentOS 6.6 & Windows 10. - Using Nemisys to transfer to a main hub server. No other servers added due to this issue. Typically 100+ Online during testing.

[2016-08-19 19:08] markeev commented on #13
Will u fix this fckn bug?

[2016-08-20 03:10] xHFx opened #21 "Player Crashing / Freezing"
Players seem to crash upon joining and or going to the pause menu !

[2016-08-20 03:12] xHFx commented on #20
The hardware of the server has nothing to do with these problems .... Now the device the player is on may have something to do with this but I have no idea

[2016-08-20 08:34] StaticGamerYT commented on #21
Same here, look at #20 or #13

[2016-08-20 08:36] StaticGamerYT commented on #13
@jjplaying How do you know the bug is there since 00da207? I compiled a build before it, but it still happens.

[2016-08-20 08:47] SleepSpace9 commented on #13
It could also be that the bug exists since MCPE v0.15.4 with the new protocol version 82. It came at about the same time. Maybe someone can trace the traffic and see what's wrong with the packets.

[2016-08-20 08:48] jarne commented on #13
I think it's just a problem with the new PlayerListPacket by Nemisys, because it's since that commit

[2016-08-20 08:49] jarne commented on #13
@StaticGamerYT Really? Maybe I didn't tested enough 🙃

[2016-08-20 08:52] SleepSpace9 commented on #13
@jjplaying I also tried with the build before SPPv6 and still have the same issues.

[2016-08-20 09:24] jarne commented on #13
Okay, but it is likely to be an issue with the PlayerList because it only happens when more player are online and in the options menu, and the only thing which is communicating with TH server in the options menu is the PlayerList.

[2016-08-20 10:34] StaticGamerYT commented on #13
@jjplaying Wanna try to fix it together?

[2016-08-20 11:07] #21 closed

[2016-08-20 17:24] SleepSpace9 commented on #13
The freeze has been solved with the last Genisys commits made by @MrGenga. YAY!
Still the question, whats about Nukkit?

_Edit: The PR (https://github.com/iTXTech/Genisys/pull/1720) I successfully tested is not merged at the moment. I hope it will be merged later..._

[2016-08-20 17:34] Encritary commented on #13
@SleepSpace9 Nukkit is very slow in development, not like Genisys. It only rewrite of PHP PocketMine with some changes, there is memory leaks, crashes, not stable level providers and more.... I recommend to use other software(like MiNET, or thats Genisys). My BedWars Nukkit servers"eat" 25 GB of RAM, but when I did it in PHP(Genisys), it more stable. If you want the best stability, use MiNET. I th

[2016-08-20 20:49] jarne commented on #13
Great!

[2016-08-20 20:50] ArrowDCA commented on #13
Finally no more crashes

[2016-08-21 15:03] intagaming opened #22 "setSkin() not working after transfer with Nemisys"
Without Nemisys: Yes
You know the problem.
My code:
[code]

[2016-08-22 07:02] kabluinc opened #23 "can someone please compile to .jar for me"
please can someone create a .jar with a download link

also how do I make it so that when the computer starts, the nemisys.jar starts like in genisys I can put start.cmd on startup folder on windows

thanks

[2016-08-22 07:24] ishitatsuyuki commented on #23
No question in issue tracker. You will get no answer here.

[2016-08-22 07:24] #23 closed

[2016-08-24 14:02] kabluinc commented on #2
@flaxues the link u gave no longer works :( pls can u give me a download link to the nemesys.jar

Many Many thanks!

[2016-08-24 19:14] ghost commented on #22
@intagaming For server xyz ,in genisys.yml what port need add ? 19132 ?

[2016-08-24 19:19] ghost commented on #19
@xZeroMCPE What port you use for server xyz in genisys.yml ?

[2016-08-24 19:43] NycuRO opened #24 "Server XYZ not work"
I'm using port in server-proprietes : 19131

In genisys.yml ,i'm using : 19132

lobby : 19132
nemisys : 19132.

Lobby conected to nemisys and XYZ server not. Why?

[2016-08-24 19:51] ghost commented on #20
@xZeroMCPE You can help me please with Nemisys? I;m creating new issue ,you can help me please?

[2016-08-24 19:52] ghost commented on #13
@intagaming I'm creating new issue. You can help me with this error please? Or @MrGenga or @MattWAnderson or anyone know how use?

[2016-08-24 19:52] ghost commented on #24
@boybook

[2016-08-24 19:58] MattWAnderson commented on #13
Email me. Matt@MattWAnderson.com

Servers running it are at hub.pocketminers.com

[2016-08-24 20:00] ghost commented on #13
@MattWAnderson You can go my telegram group please? https://telegram.me/joinchat/Ca8L9T9P01PtR1bOEwtxuw

[2016-08-24 20:09] ghost commented on #13
@MattWAnderson I'm sending you one message on yahoo mail.

[2016-08-24 22:22] xZeroMCPE commented on #19
@NycuRO  Any port, it doesn't matter.

[2016-08-25 13:23] SleepSpace9 commented on #24
@NycuRO Have a look at the Synapse Wiki: https://github.com/iTXTech/Synapse/wiki/How-to-setup
There you can see some basics, but beware that you should use now Nemisys and no more Synapse.

[2016-08-25 20:40] RoofyManStar opened #25 "Nemisys error transfer"
If one player is transfered to one server,spam console of server with this

synapse\Player::getTransactionQueue()
[23:28:27] [Server thread/CRITICAL]: Could not tick level "plots": Call to undefined method synapse\Player::getTransactionQueue()
[23:28:27] [Server thread/CRITICAL]: Could not tick level "plots": Call to undefined method synapse\Player::getTransactionQueue()
[23:28:27] [Server thread/

[2016-08-25 20:42] ghost commented on #25
I'm using Nemisys for transfer because Synapse is outdated...

Idk is Nemisys problem or Genisys,but i'm creating issue in Genisys and Nemisys branch.

[2016-08-26 09:14] vvzar opened #26 "To many files open"
What can I do to resolve this errors? (Very quickly nonstop repeating at console screen.)
It happens after some normal uptime.

12:08:03 [ALERT] java.io.FileNotFoundException: /mcpe/nemisys/server.log (Too many open files)
        at java.io.FileOutputStream.open0(Native Method)
        at java.io.FileOutputStream.open(FileOutputStream.java:270)
        at java.io.FileOutputStream.<init>(FileOutpu

[2016-08-26 15:42] ghost commented on #26
Use : java -Xms512M -Xmx1024M -jar nemisys.jar

[2016-08-27 03:55] legoboy0215 commented on #22
Confirmed.

[2016-08-27 07:59] Creeperface01 opened #27 "can not move"
nemisys transfers me to the main server but i can not move
@boybook WTF?

[2016-08-27 09:05] ghost commented on #27
@Creeperface01 Works fine for my. What software you use? Genisys or Nukkit?

In genisys works fine,but have one error ... https://github.com/iTXTech/Genisys/issues/1782

[2016-08-27 09:06] Creeperface01 commented on #27
nukkit. (e.gameteam.cz)

[2016-08-27 11:14] alexbgameson opened #28 "Unable to config"
Please give me a link on how to config nemisys!

[2016-08-27 11:16] #28 closed

[2016-08-27 11:16] dktapps commented on #28
Look at the wiki.

[2016-08-27 12:44] #27 closed

[2016-08-27 14:33] alexbgameson opened #29 "Raknet and Synlib crash on nemisys server start"
2016-8-27 10:21:20 [INFO] Loading server properties...
2016-8-27 10:21:21 [INFO] Selected English (eng) as the base language
2016-8-27 10:21:21 [INFO] Starting Minecraft: PE server version v0.15.0 alpha
2016-8-27 10:21:21 [INFO] Opening server on 0.0.0.0:19132
2016-8-27 10:21:21 [INFO] This server is running Nemisys version 1.0dev "Aegis" (API 1.0.0)
2016-8-27 10:21:21 [INFO] Nemisys is distribute

[2016-08-27 15:00] Matthww commented on #29
Perhaps a server is already running on that port?

READ THE ERROR!

[2016-08-27 15:03] dktapps commented on #29
Closing due to [redacted probably offensive statement]. (^_^)

[2016-08-27 15:03] #29 closed

[2016-08-27 16:46] intagaming opened #30 "Quit message doesn't appear on quit"
Need confirm please.
Try to transfer through Nemisys first. It shows the join message but not the quit message.

[2016-08-28 19:36] marker98 opened #31 "some issue"
[ALERT] java.lang.IllegalArgumentException: Illegal base64 character 2d
        at java.util.Base64$Decoder.decode0(Base64.java:714)
        at java.util.Base64$Decoder.decode(Base64.java:526)
        at java.util.Base64$Decoder.decode(Base64.java:549)
        at org.itxtech.nemisys.network.protocol.mcpe.LoginPacket.decodeToken(LoginPacket.java:95)
        at org.itxtech.nemisys.network.protocol.m

[2016-08-29 14:44] Guillaume351 opened #32 "Out of bounds crash"
Hello,
after running the server for a few hours, I get this error :

15:41:28 [INFO] Jerick24[/130.105.214.33:19132] logged out due to timeout
15:41:36 [INFO] Sasha has been transferred to 127.0.0.1:40928
15:41:37 [ALERT] java.lang.ArrayIndexOutOfBoundsException: 1024
        at org.itxtech.nemisys.utils.Binary.splitBytes(Binary.java:287)
        at org.itxtech.nemisys.raknet.server.Session.addEnc

[2016-08-29 14:47] Guillaume351 opened #33 "Index out of range crash"
Hello,
I start the server at 16:45:08.
I sometime have the issue that is at 16:45:37

Thanks

[2016-08-30 00:37] xHFx opened #34 "Incompatible SPP version!"
Im getting this error now out of nowhere

[02:34:21] [Server thread/ERROR]: Incompatible SPP version! Require SPP version: 5

[2016-08-30 05:37] kabluinc opened #35 "Nemisys compiled"
@flaxues or anyone with a compiled nemisys.jar file please could u give me a download link to one. Iv literally spent hours trying to compile it with circlecI but get account errors, tried maven but no luck

Thanks allot

Ps. Sorry that this issue is completely off-topic but any help would be much appreciated!

[2016-08-30 06:28] corndan commented on #35
https://gitlab.com/itxtech/nemisys/builds/2807074/artifacts/download

/target/nemisys-1.0dev.jar

[2016-08-30 06:30] kabluinc commented on #35
Thanks so much!

[2016-08-30 06:30] #35 closed

[2016-08-30 07:02] vvzar commented on #26
I have tried -xms2048 -xmx4096 - uptime increased up to 2 days, but after all I get same error.
Looks like somewhere file descriptors leak, or whatever

[code]

09:57:24 [ALERT] java.io.IOException: Too many open files
        at sun.nio.ch.ServerSocketChannelImpl.accept0(Native Method)
        at sun.nio.ch.ServerSocketChannelImpl.accept(ServerSocketChannelImpl.java:422)
        at sun.nio.ch.Ser

[2016-08-30 12:29] SleepSpace9 commented on #34
Probably you run an outdated version of Nemisys. Latest Genisys and Nemisys are both at SPP version 6.

[2016-08-30 12:35] SleepSpace9 commented on #26
I do a daily restart of Nemisys with a log rotate, so the logfile never gets to big. I don't have such an issue.

[2016-08-30 12:40] #34 closed

[2016-08-30 15:28] tarik02 commented on #26
I'm also got this error:

[code]

[2016-08-30 20:29] xHFx commented on #34
[22:28:23] [Server thread/NOTICE]: Current Version: 15   Latest Version: 19

I update my servers and now im getting this

 [22:28:38] [SynapseClient thread/NOTICE]: Trying to re-connect to Synapse Server
[22:28:38] [SynapseClient thread/INFO]: Synapse has connected to 127.0.0.1:10305

[2016-08-31 01:37] MichaelM04 opened #36 "Is it possible to extend PlayerCreation thru Nemisys?"
Is it possible to set PlayerCreation class thru Nemisys to extend off of Synapse\Player? You can't call it on the server that the players being transfered to because their connection is coming thru Nemisys server, and doesn't call on connect because of SynapsePlayer login packet handling

[2016-08-31 01:59] MichaelM04 commented on #32
#33 Same issues, perhaps close one?

[2016-08-31 06:49] dktapps commented on #26
Please head over to #37 and test a fix.

[2016-09-01 02:58] xZeroMCPE commented on #4
@flaxues It seems to spam on Windows only. I've tested it on Linux and it seems to work fine (*with the not spamming part*)

[2016-09-01 12:55] kabluinc opened #38 "Servers connected to Nemisys timing out and players recieve server closed"
Every now and then all synapse servers time out from nemisys and players logout due to server closed. this happens more when 5-10 players are online

[2016-09-01 21:13] AppleMinerHD commented on #38
Same Problem

[2016-09-02 07:29] Guillaume351 opened #40 "[REQUEST] Refresh clients data more often"
Hello,
I use 3 clients right now :
Hub - game1 - game2.

On hub, I get playercount of game1 and game2 using the client data of synapse.
However, the playercount is only refreshed if a new Synapse client connects to Nemisys.
So the data is not refreshed unless game1 or game2 reboots.

Would it be possible to refresh every X seconds or when a new player connects/disconnects ?

Thanks

[2016-09-02 10:26] SleepSpace9 commented on #40
It would also be great if the names of all online players were put into the synapse client data array
(of course only if it doesn't decrease performance).

[2016-09-04 14:10] Guillaume351 commented on #40
Maybe an API to get manually informations from a certain client ... As this, it doesn't refresh for people that don't use this data.

[2016-09-04 23:24] RedstoneAlmeida opened #41 "[REQUEST] Update Nemisys to More Stability"
![image](https://cloud.githubusercontent.com/assets/15146680/18234480/74546184-72dd-11e6-8bca-8502fda3d3fb.png)

Server to Host: 4gb Memory Dedicated to Nemisys
Server have 6 Cores

Player join in server, crash player "server closed"

[2016-09-05 22:25] XFuryMCPE opened #43 "wtf?"
15:24:05 [INFO] ---- Server status ----
15:24:05 [INFO] Uptime: 0 days 3 hours 39 minutes 51 seconds
15:24:05 [INFO] Current TPS: 100.0
15:24:05 [INFO] Load: 0.15%
15:24:05 [INFO] Network upload: 28.45 kB/s
15:24:05 [INFO] Network download: 36.68 kB/s
15:24:05 [INFO] Thread count: 14
15:24:05 [INFO] Used memory: 1301.79 MB. (18.22%)
15:24:05 [INFO] Total memory: 2809.0 MB.
15:24:05 [INFO] Maximum

[2016-09-05 22:57] XFuryMCPE commented on #40
How about you connect a useless test client to the server, which reboots everytime you want to refresh the counts?

[2016-09-05 23:09] XFuryMCPE commented on #40
Just tested that ^^ works

[2016-09-06 09:12] SleepSpace9 commented on #40
@XFuryMCPE Sounds more like a workaround, I would prefer a clean solution.
But thanks for tip! :+1:

[2016-09-06 19:01] tarik02 commented on #43
Try to schedule System.gc() every five minues.

[2016-09-07 02:14] xZeroMCPE commented on #43
I think it's that Server.log thing -.- keeps writing to the file..... That's mainly why i think it should be removed.

[2016-09-09 02:42] MichaelM04 commented on #36
Solved

[2016-09-09 02:42] #36 closed

[2016-09-10 09:54] PeratX commented on #41
That's your server's config issue.

[2016-09-10 09:54] #41 closed

[2016-09-10 09:56] PeratX commented on #40
The client info is the response to the HeartbeatPacket, so you can change the heartbeat time in client.

[2016-09-10 09:56] #40 closed

[2016-09-10 09:58] #32 closed

[2016-09-10 09:58] #31 closed

[2016-09-10 09:59] #25 closed

[2016-09-10 10:00] #8 closed

[2016-09-10 10:00] #4 closed

[2016-09-10 10:01] PeratX commented on #22
Sure, because of FastPlayerListPacket with skin buffer.

[2016-09-10 10:01] #22 closed

[2016-09-10 10:01] #18 closed

[2016-09-10 10:02] #11 closed

[2016-09-10 10:25] Guillaume351 commented on #40
@PeratX But the heartbeat refresh data on the Nemisys server, it doesn't send the info of game1 and 2 to hub ? (In my example)

[2016-09-10 12:36] intagaming commented on #22
Would this be fix? Or just gone like this?

[2016-09-10 15:29] XFuryMCPE commented on #26
https://easyengine.io/tutorials/linux/increase-open-files-limit/

[2016-09-10 16:53] KairusDarkSeeker opened #45 "[HELP] Getting Exceptions"
Exception in thread "main" java.lang.UnsupportedClassVersionError: org/itxtech/nemisys/Nemisys : Unsupported major.minor version 52.0
        at java.lang.ClassLoader.defineClass1(Native Method)
        at java.lang.ClassLoader.defineClass(ClassLoader.java:803)
        at java.security.SecureClassLoader.defineClass(SecureClassLoader.java:142)
        at java.net.URLClassLoader.defineClass(URLClass

[2016-09-10 19:17] SleepSpace9 commented on #40
The line `this.server.updateClientData();` is missing in the heartbeat section in **Client.java**.
It's only done at "case SynapseInfo.CONNECT_PACKET: ..." and that's the reason why the client data only refreshs at connect. After I put it also at "case SynapseInfo.HEARTBEAT_PACKET: ..." it works!

[2016-09-10 19:56] XFuryMCPE commented on #45
No point in this issue to be honest. The staff don't even manage this anymore -_-

[2016-09-10 23:43] ghost commented on #45
i know right

[2016-09-10 23:43] ghost commented on #45
I installed everything coerectly, but it says that error message ^

[2016-09-11 08:11] Guillaume351 commented on #32
@MichaelM04 @PeratX I created two issues because it's not the same error :/

[2016-09-11 09:51] Matthww commented on #45
Outdated java. You need atleast Java 8 to get it working.

[2016-09-11 10:15] #45 closed

[2016-09-11 12:52] ghost commented on #45
I did installed java8 -_- look [here](https://gist.github.com/legoboy0215/62fdf59fe8ec843e9f1d29e35bb67013) @ishitatsuyuki

[2016-09-11 12:57] ishitatsuyuki commented on #45
Well, I believe you will finally figure out after running `java -version`.

[2016-09-11 23:32] XFuryMCPE commented on #38
Well I sort of reproduced this. If one player is AFK for around 2-3 minutes, only THEY get the timeout and disconnect. No one else disconnects and the client stays connected.

[2016-09-13 11:01] hhm233 opened #47 "wtf?x2"
My server uses SynapseTransfer with Nemisys, there are 3 servers, into the oral (Hall), survival server and entertainment server. There is no mistake in entering the oral administration. However, when entering the non main server, the MinecraftPE will crash when the return key. And after entering the main city is not in the player's last landing position.（Baidu Translate don't mind 2333 ）

[2016-09-13 11:05] hhm233 commented on #47
Is MinecraftPE itself a problem or a problem here?

[2016-09-13 12:13] legoboy0215 commented on #47
Problem here.

[2016-09-13 13:00] hhm233 commented on #47
When can we solve this problem?

[2016-09-14 05:22] Creeperface01 commented on #38
i can confirm this, but it happens very often for me. ussually on join...

[2016-09-14 05:22] Creeperface01 commented on #38
but maybe its a synapse issue

[2016-09-14 05:30] Creeperface01 commented on #38
probably synapse stucks somewhere

[2016-09-14 14:29] kabluinc opened #48 "IOS clients crashing"
IOS users are constantly crashing when joining the main server. whenever they join they keep timing out. when synapse/nemisys is disabled no one crashes

[2016-09-14 15:08] File14 commented on #48
I almost got the same issuse, for me. IOS clients crash when people join the server. (Sometimes)

[2016-09-14 16:46] Creeperface01 commented on #48
windows 10 too. or stuck in building terrain screen

[2016-09-14 18:51] xZeroMCPE commented on #48
@File14 @Creeperface01  Hmn i've tested it. And here are the results

Window 10: ( Does not crash, nor stuck on building terrain screen )
IOS:  ( Crashes, sometimes or when building the tarrain)

It crashes most on ios. Try to disable "raknet". I think it should fix it or has something to do with it

[2016-09-14 19:20] File14 commented on #48
@xZeroMCPE Yes, as I said. I have this issuse on IOS. But for me it crashes often if the you login with a IOS device and then if another guy joins the server it crashes the IOS guy.

[2016-09-14 19:21] File14 commented on #48
Also I have disabled raknet. ^^

[2016-09-14 19:30] xZeroMCPE commented on #48
@File14 Did you test it while raknet was enabled?

[2016-09-14 19:33] File14 commented on #48
Nope, but why would it just crash for IOS then not Windows 10 etc...?

[2016-09-14 19:34] MattWAnderson commented on #48
We had some issues when raklib was disabled. Currently is not and seems to work for everyone. Can test at hub.pocketminers.com  We run a single nemisys with multidle hubs.

[2016-09-14 19:36] File14 commented on #48
My crash issuse only seems to appear once the player is transferred into another server. (not the main server).

[2016-09-14 19:42] xZeroMCPE commented on #48
@File14 uhm, maybe it's an issue that targets ios users? eh

[2016-09-14 20:05] Creeperface01 commented on #38
nemisys doesn't receive HeartBeatPacket

[2016-09-17 14:36] SleepSpace9 commented on #13
I think this issue can be closed because it has been solved with the merge of this PR: https://github.com/iTXTech/Genisys/pull/1720.

[2016-09-17 22:20] #13 closed

[2016-09-18 17:05] alexbgameson opened #49 "Nemisys server times out and acts as if its offiline"
Nemisys server times out and acts as if its offiline.

[2016-09-21 12:04] TheNewHEROBRINEX opened #50 "Can't use = in server.properties"
I want to have some = in my server motd but the server doesn't recognize them. Example:
if i write in server.properties
motd=-=CastleGames=-
the motd becomes
\- -

[2016-09-22 08:43] SleepSpace9 opened #51 "Nemisys crash by java.net.SocketException: Invalid argument"
**Issue description**
About one or two times a day a connecting MCPE client (or something else) is causing a Nemisys server crash because of invalid arguments at UDP socket connection. When the exception occures the traffic stops and all other clients are timing out. Then I have to kill the process and restart Nemisys.

Maybe the causing client is using a wrong port number for it's own address (e.

[2016-09-22 08:58] boybook commented on #51
???It looks like the crash of Raknet from Nukkit.

[2016-09-22 08:59] boybook commented on #51
I use Nukkit with SynapseAPI, never crash like this.

[2016-09-22 09:21] SleepSpace9 commented on #51
The Genisys servers also need a restart after this crash. They don't notice a connection loss und so they don't automatically retry a connect.

[2016-09-22 10:27] SleepSpace9 commented on #51
I'm already using the java start parameter `-Djava.net.preferIPv4Stack=true` to prefer IPv4, because I read of corresponding problems with IPv6. But sadly didn't help.

[2016-09-22 14:10] SleepSpace9 commented on #51
I changed the code to check if the destination port is in the range of 1 to 65535 and log if not. We'll see what happens...

[2016-09-23 16:17] Guillaume351 commented on #40
@PeratX Please reopen :/ @SleepSpace9 fix is working for me, could you apply it ? I don't really know how  to create a clean pull request :/

[2016-09-23 21:58] MyNameIsTriXz opened #53 "Everyone has your skin after rejoin with Nemisys"
When I join a server, and then rejoin the old server, then everyone has my skin (before I joined the other server everyone had his skin). Can you fix it?

[2016-09-23 22:08] xZeroMCPE commented on #53
It can be fixed easy :)

Just re-set the player skin onJoin event. Worked fine :)

But again, this should be fixed within Nemisys.

EDIT: Works but if you rejoin 1-2 times you will start seeing your skin.

[2016-09-24 00:06] SleepSpace9 commented on #40
@Guillaume351 If you use my fork (update to 0.15.9 still missing there) you even get a comma separated list of all Synapse players in ClientData.

You can fetch it like this:

[code]

I use it for my own /list command. Possibly some more people like it.  😉

[2016-09-24 08:04] FilleDev commented on #50
motd= "-=CastleGames=-"

[2016-09-24 08:15] Guillaume351 commented on #51
@SleepSpace9 Same issue here I think. Nemisys - Genisys

[2016-09-24 11:21] ghost commented on #53
Good idea, maybe it will work with a task after playerjoinevent?

[2016-09-24 11:25] FilleDev commented on #53
hmmmm

[2016-09-24 11:36] FilleDev commented on #48
hmm idk

[2016-09-24 15:43] xZeroMCPE commented on #53
Here's an example:

`
public function onJoin(PlayerJoinEvent $event){

$player = $event->getPlayer();
		$player->despawnFromAll();
$player->setSkin($player->getSkinData(), $player->getSkinId());
        $player->spawnToAll();
 }
}`

But again, like @MyNameIsTriXz said, a task would be better. Since the code above works but if you rejoin 1-2 times you will start seeing a duplicate of your skin on o

[2016-09-25 17:01] MattWAnderson opened #54 "Error for latest version in console"
Any thoughts? we get this error almost constantly.

2016-9-25 12:58:45 [ALERT] java.lang.NullPointerException
	at org.itxtech.nemisys.event.server.QueryRegenerateEvent.getLongQuery(QueryRegenerateEvent.java:189)
	at org.itxtech.nemisys.network.query.QueryHandler.regenerateInfo(QueryHandler.java:43)
	at org.itxtech.nemisys.network.query.QueryHandler.handle(QueryHandler.java:95)
	at org.itxtech.nemi

[2016-09-25 18:31] Creeperface01 commented on #49
OMG @boybook can you comment this issue?? or do you think its not important??

[2016-09-25 18:32] Creeperface01 commented on #38
OMG @boybook can you comment this issue?? or do you think its not important??

[2016-09-25 19:03] SleepSpace9 commented on #51
YAY! My guess was right - somebody uses the invalid destination port "**0**", which causes the exception.
In this case my special alert was triggert and I always return 0 in the writePacket function of the UDPServerSocket class, so my Nemisys doesn't crash anymore. Now I'm again at 100% uptime. :tada:

[code]

I also noticed another bug, which causes the query server of Nemisys to block incoming q

[2016-09-25 19:12] SleepSpace9 commented on #54
Thank you for creating an issue, I wrote my workaround for this problem already to another issue, sorry for mixing it. (https://github.com/iTXTech/Nemisys/issues/51#issuecomment-249439736)

[2016-09-25 19:17] SleepSpace9 commented on #49
Maybe relatet to this issue: https://github.com/iTXTech/Nemisys/issues/54 ?

[2016-09-25 19:40] Creeperface01 commented on #49
Of course

[2016-09-25 19:42] Creeperface01 commented on #49
But i want to know if devs noticed this bug or just ignoring it

[2016-09-25 20:44] MattWAnderson commented on #51
Do we have a commit or instructions on testing this? - Would like to give this a try.

[2016-09-25 20:47] #54 closed

[2016-09-25 21:29] Guillaume351 commented on #51
@SleepSpace9 I will give this a try, thanks ! :)

[2016-09-25 21:36] SleepSpace9 commented on #51
These commits should fix this issue (_java.net.SocketException: Invalid argument_)
https://github.com/SleepSpace9/Nemisys/commit/701e7d1683288f1b689bffb20b92ab624f63cd9d + https://github.com/SleepSpace9/Nemisys/commit/46674b3ed4ca862e6fcdb3b9d936dd8098031cc3

I'll create another one for the query error.

[2016-09-25 21:55] SleepSpace9 commented on #51
Here's the next workaround for the second issue (https://github.com/iTXTech/Nemisys/issues/54 and probably https://github.com/iTXTech/Nemisys/issues/49 and maybe even https://github.com/iTXTech/Nemisys/issues/38):

https://github.com/SleepSpace9/Nemisys/commit/b6b7de20c12bf1028a898217301a0e2f3bdbc7db

[2016-09-26 00:06] MattWAnderson commented on #38
Try this:
https://github.com/iTXTech/Nemisys/issues/51

[2016-09-26 02:44] MattWAnderson commented on #51
Working well here.

[2016-09-27 17:10] DaMatrix opened #55 "Have players be teleported to default server after crash/shutdown"
Rather than having all my players have to relog every 3 hours because of AutoRestart, would it be possible to instead have them be teleported back to the (default) lobby server?

[2016-09-27 18:52] xZeroMCPE commented on #55
After the last 1 seconds of restart move the player to another server. Then after from that other server move them back.

Just edit the restart plugin your using and implement that feature i just stated above.
Easy isn't it?

Nemisys shouldn't have alot of features. It job is to maintain / fix bugs etc. Other things should get handle by plugins similar to BungeeCord only basic things are on it and

[2016-09-27 21:18] DaMatrix commented on #55
I guess, I just feel it should be built into tje proxy. It is on BungeeCord

Sent from my Samsung device

-------- Original message --------
From: Andre | xZeroMCPE notifications@github.com
Date: 09/27/2016  20:52  (GMT+01:00)
To: iTXTech/Nemisys Nemisys@noreply.github.com
Cc: DaMatrix joey.rabil@gmail.com, Author author@noreply.github.com
Subject: Re: [iTXTech/Nemisys] Have players be teleported

[2016-09-29 00:30] MattWAnderson commented on #55
+1 for org request. If packets fail to redirect if they fell back to the hub servers that would be amazing.

[2016-09-29 20:50] FunnyBuddys opened #56 "Undefined SynapseClient..."
Everything works BUT i want to Move from my Gameserver to my Lobbyserver.

that says the Server.

The SynapseTransfer Plugin is in all servers

[2016-09-30 06:31] DaMatrix commented on #56
do /scid and figure the rest out yourself

[2016-09-30 12:45] jarne commented on #51
@SleepSpace9 Why don't create a PR, it's working great for me.

[2016-09-30 12:54] MattWAnderson commented on #51
Same here.

[2016-09-30 13:28] SleepSpace9 commented on #51
Okay, I just wanted to wait for a positive feedback. Thank you, I'll do it! :+1:

[2016-10-02 11:13] SuperAlecs opened #60 "Effects"
When player transfer to other server the effect do not remove. Sorry for my bad english

[2016-10-02 11:18] DaMatrix commented on #60
+1

[2016-10-02 11:31] FilleDev commented on #60
Before sending player to another server you have to removeAll effects of the player.

[2016-10-02 15:17] MattWAnderson commented on #60
Would be better to put this in the synapse transfer plugin as a config option for users, not direct in Nemisys.

[2016-10-02 18:33] MrReskill opened #61 "Plugins"
Hey,
All plugins will load but nothing works (PlayerJoin onCommand onMove [..]) nothing even onCommand etc of this or vien? (No error in the console)

[2016-10-03 16:41] MrReskill commented on #61
Please ;(

[2016-10-03 17:46] xZeroMCPE commented on #61
I have not tested any. But again, mind sharing what you was trying to do? like the code and i'll try myself!

[2016-10-04 17:14] jjplaying opened #62 "[ALERT] java.net.SocketException: Operation not permitted"
The server freezes sometimes with this error, it looks very similar like #51, but it's another error message and not fixed with #58 #59.

[code]

[2016-10-05 12:40] jjplaying opened #64 "Error while building with Maven"
Since eea6e879694656aa575c08665b36301a8df88d10, I can't build it anymore. GitLab builds are also failing.

[code]

[2016-10-06 14:45] xZeroMCPE commented on #64
works fine for me......

[2016-10-06 15:22] jarne commented on #64
Are you sure you're building the latest version? On OS X is failing for me, and GitLab CI too.

[2016-10-06 15:27] xZeroMCPE commented on #64
Yes i'm building the latest version. Works fine for me....

[2016-10-06 15:31] jarne commented on #64
Okay, I'll fix it anyways with #66. Maybe you have installed the dependency on your computer or something like this, I don't know.

[2016-10-06 15:32] xZeroMCPE commented on #64
Nope. it's a fresh download from this github and tested building it and works fine.... Maybe its your ide software or something or your OS itself!

[2016-10-06 15:35] jarne commented on #64
It's also failing on GitLab. I'm building with Maven on macOS 10.12 Sierra.

[2016-10-06 15:49] #64 closed

[2016-10-07 11:07] EmeraldTheDev opened #71 "Compiling"
how do i compile it ??? with eclipse

[2016-10-07 11:40] DaMatrix commented on #71
You don't use eclipse, you use maven. `cd` into the dir where you cloned Nemisys into until you find a dir with a file inside named `pom.xml`. Then do `mvn clean install` and the jar will be put into `target`.

-------- Original message --------
From: EmeraldTheDev notifications@github.com
Date: 10/07/2016  13:07  (GMT+01:00)
To: iTXTech/Nemisys Nemisys@noreply.github.com
Subject: [iTXTech/Nemisys

[2016-10-07 11:53] transdeveloper commented on #71
im doing it on osx it wont work

[2016-10-07 12:02] DaMatrix commented on #71
Then I guess it's time for you to go get a operating system that is worth something huh?

-------- Original message --------
From: EmeraldTheDev notifications@github.com
Date: 10/07/2016  13:53  (GMT+01:00)
To: iTXTech/Nemisys Nemisys@noreply.github.com
Cc: DaMatrix joey.rabil@gmail.com, Comment comment@noreply.github.com
Subject: Re: [iTXTech/Nemisys] Compiling (#71)

im doing it on osx it wont w

[2016-10-07 13:02] #71 closed

[2016-10-08 08:31] undrfined commented on #61
@MrReskill are you registered events and implement Listener in your class?

[2016-10-09 13:52] XFuryMCPE opened #73 "Effects aren't removed on server change"
give yourself an effect on one server, transfer and you'll still have the effect

[2016-10-09 18:53] xZeroMCPE commented on #73
Just remove it before the player leaves.

[2016-10-09 19:04] DaMatrix commented on #73
@xZeroMCPE this _should_ be in core.

[2016-10-09 19:05] xZeroMCPE commented on #73
@DaMatrix Yeah, but my method is just temporarily,

[2016-10-09 19:37] SupremeMortal commented on #61
I just created a simple plugin. Looks like the Synapse clients have higher priority than the Synapse server.
@xZeroMCPE Here is some code I created: https://github.com/SupremeMortal/SynapseTransfer

[2016-10-09 22:10] XFuryMCPE commented on #73
@xZeroMCPE will look into that method

[2016-10-10 15:29] SupremeMortal commented on #61
You can tell this is the case as the command works in the console of the Nemisys server without any errors.
Can someone mark this as a bug?

[2016-10-14 21:23] SupremeMortal commented on #61
Anyone going to fix this anytime soon? It's a major feature that is broken. @boybook

[2016-10-15 17:28] Ragnok123 opened #74 "Raknet crach"
Hello,  how to fix this?

2016-10-15 13:48:57 [EMERGENCY] RakNet crashed!
2016-10-15 13:48:57 [EMERGENCY] SynLib crashed!
2016-10-15 13:48:57 [ALERT] java.io.IOException: Input/output error
	at java.io.FileInputStream.read0(Native Method)
	at java.io.FileInputStream.read(FileInputStream.java:207)
	at jline.internal.NonBlockingInputStream.read(NonBlockingInputStream.java:166)
	at jline.internal.Non

[2016-10-15 17:31] Ragnok123 commented on #74
It doesnt crash at starting, it crash in every 4 hours.

[2016-10-16 06:17] #43 closed

[2016-10-16 06:23] PeratX commented on #24
It should be spp port not the mcpe port.

[2016-10-16 06:23] #24 closed

[2016-10-16 06:26] PeratX commented on #74
Please provide OS and version
Runtime environment.

[2016-10-16 06:27] PeratX commented on #74
Seem like socket stream closed unexpectedly.

[2016-10-16 10:13] Ragnok123 commented on #74
It's Debian 8, 64 bit.

[2016-10-16 13:15] Creeperface01 opened #75 "nemisys doesn't enable plugins"
all plugins are loaded but they are not enabled...

[2016-10-17 12:35] Creeperface01 opened #76 "Query error?"
20:44:50 [ALERT] java.lang.NullPointerException
	at org.itxtech.nemisys.event.server.QueryRegenerateEvent.getLongQuery(QueryRegenerateEvent.java:189)
	at org.itxtech.nemisys.network.query.QueryHandler.regenerateInfo(QueryHandler.java:43)
	at org.itxtech.nemisys.network.query.QueryHandler.handle(QueryHandler.java:95)
	at org.itxtech.nemisys.Server.handlePacket(Server.java:340)
	at org.itxtech.nemis

[2016-10-17 15:12] Creeperface01 opened #77 "Login event ITE"
at sun.reflect.GeneratedMethodAccessor3.invoke(Unknown Source)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at org.itxtech.nemisys.plugin.MethodEventExecutor.execute(MethodEventExecutor.java:25)
	at org.itxtech.nemisys.plugin.RegisteredListener.callEvent(RegisteredListener.java:47)
	at org.itxtech.ne

[2016-10-17 15:38] SupremeMortal commented on #75
It's to do with the time you startup your plugin in the plugin.yml
https://github.com/SupremeMortal/SynapseTransfer/commit/64f9b3df082b61928adf5e38c86a67c3a211e066

[2016-10-17 15:45] SupremeMortal commented on #75
The plugin commands do not work anyway because of a priority issue described here #61

[2016-10-17 17:11] Creeperface01 commented on #75
hmm, but its still bug

[2016-10-17 20:23] SleepSpace9 commented on #76
Which version / commit of Nemisys do you use?

[2016-10-18 00:19] boybook commented on #55
Write a plugin to achieve this function is the best choice.

[2016-10-18 00:21] boybook commented on #53
This is a stubborn bug in Nukkit.
Maybe I can't grasp the best time to send the skin data.

[2016-10-18 00:24] #50 closed

[2016-10-18 00:48] boybook commented on #73
😊

[2016-10-18 15:15] Creeperface01 commented on #76
latest probably. Its probably caused if there is player that is not logged

[2016-10-18 16:17] SleepSpace9 commented on #76
I asked for the version because a similar issue has been solved with this PR: https://github.com/iTXTech/Nemisys/pull/59.

[2016-10-18 17:15] Creeperface01 commented on #76
Hmmm i think this is not solution because player is added into players between login packet so he has null name etc

[2016-10-20 12:59] ghost commented on #61
@PeratX @boybook You can fix,please?

[2016-10-29 19:19] alexbgameson opened #79 "Doesnt connect to servers running 16.0"
The server cannot connect to the synapse client. It says that the client is not verified in the nemisys console.

[2016-10-29 19:32] FilleDev commented on #79
I can't connect to 0.16 because it's not updated yet.

[2016-10-29 20:08] alexbgameson commented on #79
Genisys is updated!

[2016-10-29 20:14] DaMatrix commented on #79
No it's not!

[2016-10-29 20:19] alexbgameson commented on #79
yes, the unsupported phar is out!

[2016-10-29 20:29] alexbgameson commented on #79
You can download it here! [https://gitlab.com/itxtech/genisys/pipelines/4799730](url)

[2016-10-29 20:30] alexbgameson commented on #79
You can download it here https://gitlab.com/itxtech/genisys/pipelines/4799730

[2016-10-29 20:50] DaMatrix commented on #79
it's __UNSUPPORTED__. that means that it's __UNSUPPORTED__.

[2016-10-29 20:52] DaMatrix commented on #79
![screenshot from 2016-10-29 22-51-23](https://cloud.githubusercontent.com/assets/11216106/19832662/4b048ad4-9e2a-11e6-9a73-88714a2f4bb7.png)

[2016-10-30 08:28] jjplaying opened #80 "java.lang.ArrayIndexOutOfBoundsException on server connection"
Since 78c95131cd893edae454fadd8fe697a53314db43, when I'm using the latest Nemisys build (978b1ccda208c86842a55e727728b1a52d78d7ce) @boybook  and the Genisys 0.16 branch, there's an error when Genisys tries to connect to Nemisys:

[code]

[2016-10-30 09:08] #62 closed

[2016-10-30 09:34] jjplaying commented on #80
Found the bug, 0.16 branch of Genisys is using the wrong genisys.yml item (password instead of server-password) (https://github.com/iTXTech/Genisys/blob/0.16/src/synapse/Synapse.php#L77).

[2016-10-30 09:34] #80 closed

[2016-10-30 17:06] Tarik02 opened #81 "Synapse client(Genisys) can't connect to Nemisys"
I'm get this error when genisys is trying to connect to nemisys:

[code]

[2016-10-30 17:41] File14 opened #82 "0.16 MOTD?"
Hello, I'm running the lastest version of Nemisys and I can't see the MOTD of the server on a 0.16 client. But if I click the server it will join but why cannot I see the MOTD? Is it a bug or have you guys forgot to update it?

[2016-10-30 17:45] MrPowerGamerBR commented on #82
Isn't this a MCPE bug? I thought every 0.16 server won't show a MOTD

[2016-10-30 17:50] FilleDev commented on #82
I don't know

[2016-10-30 18:47] alexbgameson commented on #82
File14 how did you get nemisys to work with your 16.0 server?

[2016-10-30 18:50] alexbgameson commented on #82
@File14 how did you get nemisys to work with 16.0?

[2016-10-30 18:57] alexbgameson opened #83 "I see that you added 16.0 support but..."
I see that you added 16.0 support. Can you add a compiled jar to the repository?

[2016-10-30 18:57] DaMatrix commented on #83
there's this new thing called _maven_. use it.

[2016-10-30 19:10] FilleDev commented on #83
Use maven.

[2016-10-30 19:25] SleepSpace9 commented on #82
He's probably using Nukkit, not Genisys.

[2016-10-30 19:28] SleepSpace9 commented on #81
I think you should wait for the SynapseAPI update in Genisys.

[2016-10-30 19:32] alexbgameson commented on #83
@File14 I dont know how to set up maven. Could you send the compiled jar you have? My email is alexbgames1@gmail.com

[2016-10-30 19:43] DaMatrix commented on #83
you clone the repo, `cd` into the folder, and `mvn package`.
you could just run this "bash script": `git clone https://github.com/iTXTech/Nemisys.git; cd Nemisys; mvn clean install; cd target`. That won't work if you're on windows, and if you're on windows then take your computer and KILL IT WITH FIRE

[2016-10-30 20:01] alexbgameson commented on #83
Yes, I have windows. I will through the window now

[2016-10-30 20:03] alexbgameson commented on #83
I have winodws. I will through my computer off the roof now.

[2016-10-30 20:05] alexbgameson commented on #83
But seriously, @DaMatrix can you send me the compiled jar?

[2016-10-30 23:59] NoHaxJustTryHqrd commented on #81
I get the exact same error

[2016-10-31 00:07] boybook commented on #81
I think you should wait for the SynapseAPI update in Genisys or for Nukkit.

[2016-10-31 00:12] NoHaxJustTryHqrd commented on #81
Ok!

[2016-10-31 06:08] jarne commented on #83
https://gitlab.com/itxtech/nemisys/pipelines

[2016-10-31 07:25] tarik02 commented on #81
@boybook what update was? I can help to do it.

[2016-10-31 19:51] alexbgameson commented on #81
I get that error aswell!

[2016-11-01 08:30] DaMatrix commented on #81
The problem is that the networking protocol changed in the 0.16 update, and as Genisys 0.16 isn't production-ready yet, the version of synapse in there hasn't been updated.

[2016-11-01 08:35] boybook commented on #83
Now I'm working on SynapseAPI but there are lot's if bugs happened. So please wait for it.

[2016-11-01 08:35] boybook commented on #79
Now I'm working on SynapseAPI but there are lot's if bugs happened. So please wait for it.

[2016-11-02 22:10] orangetictac opened #86 "Transfer"
Hello, i just installed nemisys, seted up it with instruction, downloaded and installed plugin SynapseTransfer. I see in Console "Login success...". I joined to my server, wrote /scid xyz XYZ after this i wrote /transfer xyz and nothing happened, in console i see that to_OXa trasfered to .... but in game i dont transfer! Please help me

[2016-11-03 00:13] FilleDev commented on #86
I can't transfer to other servers via SynapseAPI because it crashes the client.

[2016-11-03 18:04] Creeperface01 opened #87 "Verification isse"
sometimes happen, synapse is verified but in nemisys isn't so synapse think its connected, but nemisys only says: "{IP} is not verified" if receives heartBeat, but then players can not join this server, i made little modification to prevent this but idk if it'll work

[2016-11-03 18:09] File14 opened #88 "After transfer STUCK?"
Hello!

Once I have transfered to a server I get stuck and cannot move, however I can type commands and chat.
I'm transfering via SynapseAPI.

Please fix the isssuse so you can transfer between servers again. @boybook

[2016-11-03 22:35] xZeroMCPE commented on #88
Before you make issues, read other(S).

This has been explained multiple times...,,,

[2016-11-03 22:58] File14 commented on #88
@xZeroMCPE Like where?

[2016-11-03 22:58] #82 closed

[2016-11-04 15:45] SupremeMortal commented on #86
I fixed it by disabling raknet in the SynapseAPI config

[2016-11-04 15:59] FunnyBuddys opened #89 "Incompatible SPP Version"
Hello,

I use Nemisys and i need the Compiled JAR. I doesn´t have Linux to Compile it self with Maven.

Thanks for Help.

[2016-11-04 16:08] DaMatrix commented on #89
then compile it on your windows.

[2016-11-04 16:22] FunnyBuddys commented on #89
Done. But `Client 127.0.0.1:32925 has disconnected due to Incompatible SPP version! Require SPP version: 7`

[2016-11-04 16:53] DaMatrix commented on #89
Genisys doesn't work with the newest version of Nemisys.

[2016-11-04 20:02] alexbgameson commented on #89
Do you know when it will update?

[2016-11-04 22:25] SupremeMortal commented on #89
SynapseAPI for Nukkit has been updated it is imperative that you use 0.16.0

[2016-11-04 23:07] MattWAnderson commented on #89
Use NetBeans (on Windows) to compile Nemisys.

[2016-11-05 07:16] #88 closed

[2016-11-05 07:17] DaMatrix commented on #89
@alexbgameson https://github.com/iTXTech/Genisys/pull/2138

[2016-11-06 10:38] FunnyBuddys commented on #89
Work SynapseAPI for Genisys?

[2016-11-06 10:44] DaMatrix commented on #89
.... it's a nukkit plugin

[2016-11-06 12:31] adamiss5138 opened #90 "Nemisys 0.16 Freezes"
0.15.x builds worked fine without any problem. For me all Nemisys 0.16 builds freeze after some time (10 - 30 mins)
No errors in log, but high CPU usage when it's frozen.

[2016-11-06 12:37] DaMatrix commented on #90
that's been happening to me for some time too now, and is the reason i moved to genisys and then closed my server because it happened there too.

[2016-11-06 14:50] Creeperface01 opened #91 "something wrong wrong ConnectPacket ?"
i debugged both, synapse and nemisys

synapse sends right password and description, but if i debugged these fields in nemisys so description is null or empty and password equals description so then synapse can not connect...

[2016-11-06 14:50] Creeperface01 commented on #91
and this happens only on server, on my local PC it works

[2016-11-06 14:55] #91 closed

[2016-11-06 18:54] XFuryMCPE commented on #90
Yeah. It just stops working and doesn't say any reason why. no one can join anymore

[2016-11-06 19:00] XFuryMCPE commented on #90
I am thinking this could possibly be a problem caused when a 0.15.X player attempts to join the server.

[2016-11-06 19:21] FilleDev commented on #90
I have the same issuse but mine takes like 24 hours. This issuse must be fixed!

[2016-11-06 19:23] SupremeMortal commented on #90
No problems for me. I'm running ubuntu 16.04.

[2016-11-07 09:48] MCPECentralv2 commented on #18
savage

[2016-11-07 10:07] jarne commented on #90
Me too. I'm guessing it's an issue with RackLib, because Nemisys is not completely frozen. You can't join and nothing happens when stopping the server, but console is still working.

[2016-11-07 21:56] #89 closed

[2016-11-08 10:28] SleepSpace9 commented on #90
Could this issue be solved by this commit: https://github.com/iTXTech/Nemisys/commit/98b486e3d638d66008f735f42a030f90155d39e1 ?

[2016-11-08 10:36] boybook commented on #90
Yeah, I think you met the problem like me. This is because of 0.15.90.1 or 0.15.90.2. So I fixed by this commit: https://github.com/iTXTech/Nemisys/commit/98b486e3d638d66008f735f42a030f90155d39e1

[2016-11-08 10:37] #90 closed

[2016-11-08 10:39] #83 closed

[2016-11-08 10:40] boybook commented on #86
It has been fixed by lastest SynapseAPI.

[2016-11-08 10:40] #86 closed

[2016-11-08 10:43] #48 closed

[2016-11-08 10:43] #30 closed

[2016-11-08 17:02] XFuryMCPE commented on #90
I'm using the newest version and this bug still occurs.

[2016-11-08 17:09] xZeroMCPE commented on #90
Yeah, and the commit was added a few days..... My Nemisys was up-to-date. But same issue happens.

EDIT: Seems to be fixed, just had to do something

[2016-11-08 17:17] jarne commented on #90
For me, 98b486e fixed all freezes, had no issues the last 24 hours.

[2016-11-08 19:40] FilleDev commented on #90
Same @jjplaying

[2016-11-09 19:33] adamiss5138 commented on #90
After 20 hours uptime, latest Nemisys freezed with this error (I have no idea what does it mean :D)

`[WARNING] Network dropped connection on reset: no further information
java.net.SocketException: Network dropped connection on reset: no further information
    at sun.nio.ch.DatagramChannelImpl.receive0(Native Method)
    at sun.nio.ch.DatagramChannelImpl.receiveIntoNativeBuffer(Unknown Source)

[2016-11-10 14:42] #81 closed

[2016-11-11 20:26] ICrashHD opened #93 "Huge issue"
Closed

[2016-11-11 20:30] #93 closed

[2016-11-13 13:15] adamiss5138 opened #94 "Nemisys timeouts"
I have the latest version of Nemisys. After a while (1 - 6 hours) timeouts with this error.

`[WARNING] Network dropped connection on reset: no further information
java.net.SocketException: Network dropped connection on reset: no further information
	at sun.nio.ch.DatagramChannelImpl.receive0(Native Method)
	at sun.nio.ch.DatagramChannelImpl.receiveIntoNativeBuffer(Unknown Source)
	at sun.nio.ch.D

[2016-11-13 18:09] iPocket commented on #94
is your IP dynamic?

[2016-11-13 18:10] adamiss5138 commented on #94
Yes it is, but changes once a year

[2016-11-15 17:18] Creeperface01 opened #95 "building screen issue?"
sometimes something wrong happens in nemisys and players can not join anymore, always get stuck in building terrain, so i must restart the server

(doFirstSpawn method isn't called)

[2016-11-15 17:20] Creeperface01 commented on #95
@boybook idk how you can run nemisys without these issues :D maybe you are incredibly lucky or you have your own modified version :D

[2016-11-15 17:24] Creeperface01 commented on #95
hmmm its SynapseAPI issue probably. Anyway, nemisys and synapse are really buggy :/ and they are not usable for now :/ i had to make lots of workarounds to get it working well

[2016-11-22 14:49] VonHirsch opened #96 "DataFormatException: incorrect header check"
Will try to debug this if possible, logging as an issue here as well

![image](https://cloud.githubusercontent.com/assets/3280180/20528128/fd103b58-b098-11e6-98b6-2b20f5fd35c1.png)

[2016-11-23 12:29] TheBluePinguin1 opened #97 "MCPE crash"
Hello,

after you join with the 2x player
the minecraft crasht from all players after him

[2016-12-01 14:37] EmeraldTheDev opened #98 "Maven Java Compile (ERROR) [Debian]"
i get a error of build failure

[2016-12-01 19:29] DaMatrix commented on #98
... can we get more information?

[2016-12-01 20:28] SupremeMortal commented on #98
Probably just an issue on your side since I have Jenkins running on Debian 8 fine
https://ci.potestas.xyz

[2016-12-02 06:25] #98 closed

[2016-12-02 13:18] Goodstuff4UonYT commented on #98
I can't compile it, too.
If you compile it with maven you get a lot of errors.
If you put Nemisys into a Project of Ecclipse everything is red.

[2016-12-02 13:23] xZeroMCPE commented on #98
Everything works fine for me, Make sure you have java 8 or ( > )

[2016-12-02 13:45] Goodstuff4UonYT commented on #98
java version "1.8.0_101"

[2016-12-02 14:27] SupremeMortal commented on #98
I gave you a link to download it. Don't see why you are still trying to compile it.
https://ci.potestas.xyz/job/Nemisys/

[2016-12-02 15:23] Goodstuff4UonYT commented on #98
Because I changed some things...

[2016-12-02 15:50] SupremeMortal commented on #98
@Goodstuff4UonYT If you changed things, then it's because you have compilation errors. You probably didn't use an IDE by looking at your fork.

[2016-12-02 15:53] boybook commented on #95
Yes, it also happened in my server sometimes. I am also very worried, Because I can not accurately reproduce the problem, so I can not find specific reasons. I tried a lot of ways, but only to ease.

[2016-12-02 15:56] boybook commented on #95
I need your help to fix it. I suspect that this is caused by the network of binary transmission, including data packet cutting and so on.

[2016-12-02 16:00] boybook commented on #95
I suspect that this is caused by the network of binary transmission, including data packet cutting and so on. When I update Nukkit to 0.16, I found it will happen of the error of the EntityMetadata encoding.

[2016-12-02 16:05] boybook commented on #95
This may be too much data transmission in the 1tick, which led to a part of being discarded. So if it cut the data sending of entity(Send too many chunk datas), It will happen.

[2016-12-02 16:14] Goodstuff4UonYT commented on #98
I have also errors with the unedited version...
IDE: "If you put Nemisys into a Project of Ecclipse everything is red."

[2016-12-02 18:27] SupremeMortal commented on #98
Because you need to use maven to create the eclipse project files. I think you need to watch some tutorials instead of making invalid issues

[2016-12-02 18:44] Goodstuff4UonYT commented on #98
And if i put the UNEDITED project to the server and want to built it with maven. I can't compile it...
In the past it works...
And I don't open this issue.

[2016-12-02 19:06] SupremeMortal commented on #98
http://maven.apache.org/plugins/maven-eclipse-plugin/

[2016-12-02 19:08] Goodstuff4UonYT commented on #98
"And if i put the UNEDITED project to the server and want to built it with maven. I can't compile it..." This have nothing to do with Eclipse.

[2016-12-02 19:10] SupremeMortal commented on #98
Well, that's something wrong with your environment.
https://ci.potestas.xyz/job/Nemisys/19/console

[2016-12-02 19:13] Goodstuff4UonYT commented on #98
sure...

[2016-12-02 20:01] Creeperface01 commented on #95
I changed world format from region to anvil and it doesnt happen

[2016-12-02 20:02] Creeperface01 commented on #95
Nemisys also has old Zlib (my pull request)

[2016-12-04 02:04] uselesswaifu opened #99 "Hostname Server"
A feature to choose which server to send players based on the Hostname, Similiar to BungeeCord.. For Example if I used the Domain factions.example.com it would send Players to my Factions server

[2016-12-04 10:59] SupremeMortal commented on #99
Yeah. Using the request hostname header to determine which server they join.

[2016-12-04 16:00] uselesswaifu commented on #99
@SupremeMortal I fixed my english problems 👍 Do you know how to Achieve this?

[2016-12-10 16:33] VoliPlays opened #100 "How can i s"

[2016-12-10 16:34] #100 closed

[2016-12-10 16:36] VoliPlays opened #101 "How can i install"
I wanna install nemisys on my vps it running on ubuntu 16.04.I tried to make like on wiki but i don't know how to install.Hope you help me.Thanks

[2016-12-10 16:37] ghost commented on #101
this is not a forum

[2016-12-10 16:38] ghost commented on #101
Where i can post?

[2016-12-10 16:39] ghost commented on #101
https://gitter.im/iTXTech/Nemisys

[2016-12-10 16:51] ghost commented on #101
I will get they're reply on mail no?

[2016-12-10 17:19] boybook commented on #95
OMG!

[2016-12-11 02:14] #101 closed

[2016-12-15 19:04] manubilli opened #102 "Login TimeOut Nemisys"
Hi,
When i connect my nemisys to server and try join in server by nemisys he say "Login TimeOut" .
Thanks

[2016-12-17 09:56] xBeeegsone opened #103 "Plugin development"
How to write plugins on Nemisys?

[2016-12-18 08:45] SupremeMortal commented on #103
Same as Nukkit but just use the Nemisys jar.

[2016-12-25 19:55] JackboyPlay opened #106 "Network"
Hello folks, how can I send with a Nemisys Plugin a message to all players on the network?

[2016-12-28 11:21] boybook commented on #47
可否说中文？？

[2016-12-28 11:22] boybook commented on #102
Maybe you should update your SynapsePM.

[2016-12-28 11:22] #103 closed

[2016-12-28 11:23] boybook commented on #106
You can write a plugin. Just register a TextPacket and then sendPacket to players.

[2016-12-28 11:26] #79 closed

[2016-12-28 11:27] #60 closed

[2016-12-30 13:05] JackboyPlay commented on #106
@boybook cant find smething called "TextPacket" where is it?

[2017-01-02 16:25] MichaelM04 commented on #75
Apparently no one has plans to fix this issue if it can be done, for me the plugins fully work, listeners and such work fine, just the commands won't work for the client, only for console or if client runs command from dispatcher.
https://github.com/iTXTech/SynapsePM/issues/31

[2017-01-02 16:44] MattWAnderson commented on #75
@MichaelM04 - I would move on, this seems to be another MCPE dying project.

[2017-01-02 16:49] MichaelM04 commented on #75
@MattWAnderson Sadly it seems so, a lot of improvements/adjustment's need to be done and no one is actively contributing and most pr's are ignored or some ignorantly turned down.

[2017-01-02 20:29] MichaelM04 commented on #75
@Creeperface01 If your having issues with commands and are using SynapsePM as the client plugin, this should fix your issue https://github.com/iTXTech/SynapsePM/pull/32.

[2017-01-03 07:32] Creeperface01 commented on #75
I have my modified nemisys

[2017-01-03 19:11] NycuRO opened #109 "HUB command?"
You can add /hub command ,please?

[2017-01-10 12:35] alexbgameson opened #110 "Protocol Version Update"
Please update the protocol version to 1.0.0

I know it works with out the version update but server lists see my server as 16.0 server.

[2017-01-14 19:59] remotevase opened #114 "Windows?"
Does Nemisys work on Windows Machines? (Windows 7)

[2017-01-14 20:53] Matthww commented on #114
Can you run java applications on windows?

[2017-01-14 21:17] MattWAnderson commented on #114
smh...

[2017-01-14 21:24] remotevase commented on #114
yes, but when I do, it creates a window with the  nemisys title, and it quickly stops responding. The screen also fills up with tons of strange information... It doesnt seem to work...

[2017-01-14 21:28] Matthww commented on #114
What java version are you running?

[2017-01-14 21:50] remotevase commented on #114
8.1 SDK

[2017-01-14 22:05] Matthww commented on #114
Can you share this information which is maybe important...

[2017-01-14 22:30] remotevase commented on #114
I do not want to start up the program again and crash the machine again... But i will tell you what it is. The title of the program is "Nemisys ___ Load__ Memory___ players ___" something like that. It kept on repeating that over and over again, but updating it based on how much load it was, and how much memory it used...

[2017-01-15 19:54] JackboyPlay opened #115 "Plugin wont loaded"
Hello folks, I tried to write a Nemisys plugin but if I put it into the folder I'll get the following error:
2017-1-15 14:50:38 [ERROR] Could not load 'NetzwerkKern.jar' in folder '/root/Nemisys/plugins': java.lang.NullPointerException
	at java.util.regex.Matcher.getTextLength(Matcher.java:1283)
	at java.util.regex.Matcher.reset(Matcher.java:309)
	at java.util.regex.Matcher.<init>(Matcher.java:229

[2017-01-16 05:37] JackboyPlay commented on #115
Closed

[2017-01-16 16:44] boybook commented on #99
How to Nemisys know the hostname of your servers?

[2017-01-16 16:46] boybook commented on #38
See https://github.com/iTXTech/SynapseAPI/issues/19

[2017-01-16 16:49] boybook commented on #110
Yes, please wait for the Pull Request.

[2017-01-16 16:49] #110 closed

[2017-01-16 16:52] boybook commented on #49
See https://github.com/iTXTech/SynapseAPI/issues/19

[2017-01-16 16:52] #49 closed

[2017-01-16 18:12] JackboyPlay commented on #115
@boybook whats the default api: in plugin.yml?

[2017-01-17 17:19] boybook commented on #38
See https://github.com/iTXTech/Nemisys/issues/49

[2017-01-18 13:57] vzlomka76 opened #116 "Humans have player skin"
**Nemisys:** https://github.com/iTXTech/Nemisys/commit/7a2476cd287ad0eddc0985c515f4ce5acb3b846b

All humans (statue) have player skin
![2017-01-18 16-39-13](https://cloud.githubusercontent.com/assets/16573760/22066203/ea5e0702-dd9c-11e6-9bb9-5c02726ffce2.png)
![2017-01-18 16-39-52](https://cloud.githubusercontent.com/assets/16573760/22066204/ea68d9de-dd9c-11e6-89ed-65c885593642.png)

[2017-01-18 14:21] MisteFr commented on #116
can you explain me how to instal nemisys  @vzlomka76 ??

[2017-01-18 14:22] MisteFr commented on #106
can you explain me how to instal nemisys @boybook  ??

[2017-01-18 14:36] vzlomka76 commented on #116
@Misteboss https://github.com/iTXTech/Nemisys/wiki/How-to-set-up-Nemisys

[2017-01-18 17:40] MisteFr commented on #116
I don't have synapse option in my genisys.yml, btw i start nemisys and all is working @vzlomka76

[2017-01-18 17:42] MisteFr commented on #116
@vzlomka76 can you explain me how to make it working ^^

[2017-01-18 21:58] SleepSpace9 commented on #116
The reason why all human entities have your player skin is that Nemisys only uses the SkinData from LoginPacket and not PlayerListPacket (probably for more performance and less traffic). The only possibility to get it work is to modify Nemisys (and also SynapsePM) for using the FullPlayerListPacket with all SkinData and not only the FastPlayerListPacket without SkinData.

[2017-01-20 16:36] boybook commented on #95
Fixed in https://github.com/iTXTech/Nemisys/commit/1cf4a94524d74c272c485c9041f29cce9bd3d106

[2017-01-20 16:36] #95 closed

[2017-01-20 16:39] boybook commented on #51
See https://github.com/iTXTech/Nemisys/commit/1cf4a94524d74c272c485c9041f29cce9bd3d106

[2017-01-20 16:39] boybook commented on #38
Fixed in https://github.com/iTXTech/Nemisys/commit/1cf4a94524d74c272c485c9041f29cce9bd3d106

[2017-01-20 16:39] #38 closed

[2017-01-20 16:50] vzlomka76 commented on #116
@boybook can you fix it?

[2017-01-20 17:14] SleepSpace9 commented on #51
Okay I guess I can close this issue because it works more reliable now.
Thank you for keeping Nemisys alive! 👍

[2017-01-20 17:14] #51 closed

[2017-01-20 18:21] Creeperface01 commented on #116
Its player list issue

[2017-01-20 21:29] JackboyPlay commented on #116
On my Nukkit servers it works without this issue

[2017-01-21 19:38] AppleMinerHD commented on #109
@NycuRO You can write a Plugin...

[2017-01-22 01:56] #109 closed

[2017-01-26 23:11] remotevase commented on #114
Bump, someone please?

[2017-01-26 23:26] MattWAnderson commented on #114
Sounds like a bad compile, I could offer a compiled JAR or a remote session if interested to have a look.

[2017-01-26 23:28] remotevase commented on #114
I used the latest one from here: https://gitlab.com/itxtech/nemisys/pipelines

[2017-01-26 23:30] remotevase commented on #114
I extraced that jar, then used this start.cmd file:
[code]

[2017-01-26 23:31] MattWAnderson commented on #114
email me at matt@mattwanderson.com

[2017-01-26 23:40] remotevase commented on #114
Okay, thanks. I will also upload screenshots here.

[2017-01-26 23:45] remotevase commented on #114
Starts normally:
![image](https://cloud.githubusercontent.com/assets/16277471/22355236/8eab359a-e3f7-11e6-8c19-fef39baa3994.png)

Then in a few seconds:
![image](https://cloud.githubusercontent.com/assets/16277471/22355235/8b4a9706-e3f7-11e6-8423-77e1e59a6fe1.png)

Java version:
![image](https://cloud.githubusercontent.com/assets/16277471/22355239/94656d0c-e3f7-11e6-82ad-16914d39ab90.png)

[2017-01-26 23:46] remotevase commented on #114
In the first screenshot, you can start to see the spammy grey text that you see in the second picture.

[2017-01-27 00:22] JackNoordhuis commented on #114
Looks like you've got some sort of debug enabled @remotevase

[2017-01-27 01:28] remotevase commented on #114
How would I fix this?

[2017-01-27 13:17] kentikzlo opened #119 "kicked by timeout"
I transfer player from mc-pe.ru:11111 to 2.mc-pe.ru:19132 (other vds) and 2.mc-pe.ru disconnect from nemisys by timeount and connect again. Why?

On 2.mc-pe.ru:
[Tesseract] [16:11:53] INFO> gamer[/178.65.254.97:19132] [ClientID: 228] logged in with entity id 1 at (world, 231, 67.2, 238)
player dont spawn, after 5-10 sec disconnect:
[Tesseract] [16:12:19] NOTICE> Synapse Client has disconnected due

[2017-01-28 11:22] kentikzlo commented on #119
@boybook please fix it

[2017-01-29 15:46] vzlomka76 commented on #106
@Misteboss https://github.com/iTXTech/Nemisys/wiki/How-to-set-up-Nemisys

[2017-01-30 19:03] Bluplayz opened #121 "After i transfer using this code to my silentlobby server, i got the problem that i cant move and my spawnlocation isnt set or something else"
foreach($this->plugin->getServer()->getPluginManager()->getPlugin("SynapsePM")->getSynapses()[0]->getClientData() as $hash => $cdata){
                        if($cdata["description"] == "SilentLobby1"){
                            $player->transfer($hash);
                        }
                    }

[2017-01-30 19:07] Bluplayz opened #122 "Tablist doesnt remove an player"
my tablist doesnt remove a player after he dissconnected from the server

[2017-01-31 10:50] gacus007 opened #123 "jar file"
Hi
I wondering how can I download jar file ? because I cant find

[2017-01-31 11:21] FilleDev commented on #123
Download the git and use maven to create your jar file.

[2017-02-03 19:40] #121 closed

[2017-02-03 19:52] Bluplayz opened #124 "how to get all Synapse-Clients?"
i make a plugin for Tesseract and want to make a function which returns me all Servers as "Genisys-Server" instance so that i can get all informations and add something... hope any one can help me

[2017-02-05 10:54] SupremeMortal commented on #114
It's not debug enabled. The text should be in the title of the windows however it is being printed in the console and because the title is constantly updated with the information, it's being spammed in the console. The server should theoretically still work fine.

[2017-02-05 10:58] SupremeMortal commented on #123
Or use my jenkins
~~https://ci.potestas.xyz/job/Nemisys/~~

UPDATED: https://ci.incursio.net/job/Nemisys/

[2017-02-05 11:06] MrPowerGamerBR commented on #114
@SupremeMortal Nukkit has the same issue (well, now it doesn't since I made a pull request to disable titleTick()), titleTick() randomly starts printing the title message in the console.

[2017-02-05 11:39] SupremeMortal commented on #114
Should be disabled for now since a native library is needed to interact with the title in a command line window.

[2017-02-05 11:56] MrPowerGamerBR commented on #114
@SupremeMortal in this case: Jansi.

I updated some libraries in Nukkit (JLine and improved Nukkit's command line by adding TAB complete) and then it started happening, then I sent a pull request to disable titleTick() while I can't find a solution. (And... well, who needs that title thingy?, it is more like an hack (because it uses ANSI characters to change the title) than a proper feature)

[2017-02-09 22:22] alexbgameson opened #125 "New MCPE Protocol Version"
Please update nemisys to the new MCPE 1.0.3 version.

[2017-02-10 00:15] #125 closed

[2017-02-17 19:23] jarne commented on #124
You can't get the whole server instance of another synapse client, but you can get the server hash containing information like IP and port to transfer players with a function like this one: https://github.com/iTXTech/SynapseTransfer/blob/master/src/synapsetransfer/SynapseTransfer.php#L69
If you want to exchange information between servers, you should use MySQL or something like this.

[2017-02-17 21:19] #124 closed

[2017-02-27 09:49] FunnyBuddys opened #126 "'Magic is not match'"
at io.netty.handler.codec.ReplayingDecoder.callDecode(ReplayingDecoder.java:422)
        at io.netty.handler.codec.ByteToMessageDecoder.channelRead(ByteToMessageDecoder.java:248)
        at io.netty.channel.AbstractChannelHandlerContext.invokeChannelRead(AbstractChannelHandlerContext.java:373)
        at io.netty.channel.AbstractChannelHandlerContext.invokeChannelRead(AbstractChannelHandlerContext

[2017-03-18 15:24] ImKyd opened #127 "Windows installer"
Create installer for windows!!! PLEASE!!!

[2017-04-01 21:16] JackboyPlay commented on #122
Tja das ist aber blöd

[2017-04-02 07:59] Bluplayz commented on #122
benutze Nemisys schon ewig nicht mehr, bugt zu sehr :)

[2017-06-09 10:36] boybook opened #128 "Still hard working on 1.1.0 update for Nemisys and SynapseAPI"

[2017-06-10 07:11] Creeperface01 commented on #128
thank you, I tried too but I still get stuck on generating world screen, it looks like batch packets are sent wrongly or processed wrongly

[2017-06-12 04:44] VoltexYT opened #129 "Error"
NEMISYS :

        at io.netty.handler.codec.ReplayingDecoder.callDecode(ReplayingDecoder.java:422)
        at io.netty.handler.codec.ReplayingDecoder.channelInputClosed(ReplayingDecoder.java:329)
        at io.netty.handler.codec.ByteToMessageDecoder.channelInputClosed(ByteToMessageDecoder.java:342)
        at io.netty.handler.codec.ByteToMessageDecoder.channelInactive(ByteToMessageDecoder.java:3

[2017-06-12 12:55] VoltexYT commented on #126
Funny es bringt nichts die Antworten eh nicht xd

[2017-06-22 20:52] vzlomka76 opened #130 "Timeout on 1.1.0/1.1.1"
It does not happen to everyone, but my two friends have this, but when I looked at the console, I saw that it was not just from my friends. (View pictures)
I did not understand, on what it depends
Reinstalling the client does not help, restarting nemisys does not help
![hvwzjeih100](https://user-images.githubusercontent.com/16573760/27455389-c9be98a8-57a5-11e7-9d10-d8a6c9172e97.jpg)
![aqlbfpkzlcg]

[2017-06-23 09:07] vzlomka76 commented on #130
@boybook This morning, one of my friends earned everything, he was able to enter.

[2017-06-23 16:11] vzlomka76 commented on #130
@boybook please help me, i don't know why it happens. As I understand it creates a session (Player class), but LoginPacket doesn't send.

[2017-06-23 16:14] boybook commented on #130
Are you sure your game's version is 1.1?
It seens just happened on 1.0.x.

[2017-06-23 16:16] vzlomka76 commented on #130
@boybook yes, the version is the 1.1. But i can't reproduce this, but some players have this problem

[2017-06-23 16:17] boybook commented on #129
Please be sure the protocol version of Nemisys and SynapseAPI/SynapsePM(maybe not updated) is the same

[2017-06-26 18:55] vzlomka76 commented on #130
Sorry, real version is 1.0.8. It's not bug, close this

[2017-06-26 18:55] #130 closed

[2017-07-01 13:16] kvetinac97 opened #131 "Nemisys keeps timeouting"
Nearly every hour it happens that Nemisys shows 100% use even on machine with good processor and not more than 50 players and freezes for something about 8 minutes, so players then keep timeouting. Why does this happen?

[2017-07-02 10:06] vzlomka76 commented on #131
Confirmed. Have 24 players on server and nemisys load 100%
![2017-07-02 13-05-16](https://user-images.githubusercontent.com/16573760/27768887-232b56aa-5f27-11e7-9dc1-dbaf292b40be.png)

[2017-07-02 10:22] SupremeMortal commented on #127
Download the .jar and run it.

[2017-07-02 10:57] adamiss5138 commented on #131
There is also high RAM usage after this lag (2-3.5GB)

[2017-07-02 10:59] vzlomka76 commented on #131
@adamiss5138 Why Nemisys eats so much RAM?

[2017-07-02 11:01] adamiss5138 commented on #131
@vzlomka76 Idk. It's normal RAM usage is 100-200MB. But then it lags and usage jumps to 2-3.5GB (
in my case)

[2017-07-02 11:02] vzlomka76 commented on #131
@adamiss5138 maybe I need to create a separate plugin that will run gc command automatically?

[2017-07-02 11:49] Creeperface01 commented on #131
I cannot reproduce this issue.

[2017-07-05 00:23] #127 closed

[2017-07-05 07:48] kvetinac97 commented on #131
Does new SynapseAPI commit change anything on this bug?

[2017-07-05 11:48] 233jec opened #133 "some questions"
HI, genisy.yml in minecraft 1.11.2(genisy pro 	#20759662  master  b5bed34a) I can't find synapse: in genisys.yml and is-main-server ,What should I do？

[2017-07-06 07:18] kvetinac97 commented on #131
Just turn on Nukkit side packet compressing to fix the bug.

[2017-07-06 07:18] #131 closed

[2017-07-06 13:43] PeratX commented on #131
GG

[2017-07-06 13:43] PeratX commented on #133
https://github.com/iTXTech/SynapsePM/blob/master/resources/config.yml

[2017-07-06 13:43] #133 closed

[2017-07-06 13:44] #20 closed

[2017-07-06 13:45] #26 closed

[2017-07-06 13:45] #33 closed

[2017-07-06 13:45] #47 closed

[2017-07-06 13:45] #53 closed

[2017-07-06 13:45] #55 closed

[2017-07-06 13:46] #56 closed

[2017-07-06 13:46] #126 closed

[2017-07-06 13:46] #61 closed

[2017-07-06 13:47] PeratX commented on #61
You must understand, this is a proxy server not a GAME SERVER. Any Player Tiggered Event are available.

[2017-07-06 13:47] #94 closed

[2017-07-06 13:48] #123 closed

[2017-07-06 13:48] #119 closed

[2017-07-06 13:48] #116 closed

[2017-07-06 13:48] #115 closed

[2017-07-06 13:48] #114 closed

[2017-07-06 13:48] #102 closed

[2017-07-06 13:52] #106 closed

[2017-07-06 13:52] #99 closed

[2017-07-23 13:24] kvetinac97 commented on #75
Do getPluginLoader().enablePlugin(this) on load ;) and you have it fixed

[2017-07-24 17:57] Tarik02 opened #134 "View distance issue"
Since i am making SynapsePM plugin, i need to send also view distance when transfering a player. This can be fixed with modifying TransferPacket(possibly SPP bump): attach packets to it.

[2017-08-10 21:03] imjack opened #137 "Playercount isn't updated"
After getting the ClientData.Entry the player count doesn't get updated.

[2017-08-10 22:24] imjack commented on #137
This issue is due to updateClientData not being regularly called after the server(s) connect. I personally fixed it by calling updateClientData after the heartbeat packet is received

[2017-08-12 12:27] SleepSpace9 commented on #137
No further comments: https://github.com/iTXTech/Nemisys/pull/46

[2017-08-26 23:36] Misteboss opened #138 "Unsupported major.minor version ?"
Hey,
I tried to start nemisys with the last .jar and I have this output on start
![image](https://user-images.githubusercontent.com/17687222/29745902-286b4a86-8ac8-11e7-918e-d32a744e234d.png)

[2017-08-26 23:40] #138 closed

[2017-09-14 06:50] mimanglala opened #139 "Problems after transferring to server"
The sky is red, very dark, and can not be moved after Resurrection

[2017-09-18 13:01] rdstonech opened #140 "Update to 1.2"
Please update Nemisys to 1.2 :)
---------------------------
Critical changes:
1. In batch packets after packet id need add 2 bytes (from Nukkit: short(0)).
2. When you handle batch packet you need skip this 2 bytes after id
https://github.com/yescallop/Nukkit/commit/fc5b43aec33de8a932d780567d0f7ec1e7aa949d#diff-bc9763238878800245b7c7e58728c72bR30
https://github.com/yescallop/Nukkit/commit/fc5b43ae

[2017-10-26 13:01] kvetinac97 opened #144 "Nemisys freezes randomly"
After certain amount of time, nemisys starts to lag… TPS drops, players freeze.

[2018-05-24 17:20] MisterSheeple commented on #140
It has been updated, but of course 1.2 is no longer the most recent version, so I recommend checking out Nukkit for a Java-powered Bedrock server with the most recent features.

[2018-06-12 06:03] aquaminer opened #146 "Contrl + C error"
when the server is started: ![image](https://user-images.githubusercontent.com/17113289/41272558-4c22e8dc-6e1e-11e8-8541-e8ec5c74f38f.png)
when clicked on Control + C:
![image](https://user-images.githubusercontent.com/17113289/41272616-8cbcf446-6e1e-11e8-80a4-a29700be9e88.png)
in server.log no log off, please make the treatment is Control + C, as I understand it kills the process